streamlit
streamlit-option-menu

pandas
numpy
plotly
matplotlib
seaborn
scipy
scikit-learn
xgboost
lightgbm
catboost
shap
joblib
statsmodels
pingouin
missingno

pillow
requests
beautifulsoup4
yt-dlp
opencv-python-headless
ffmpeg-python
youtube-transcript-api
isodate

google-auth
google-genai
google-generativeai
google-cloud-aiplatform
pydantic
pydantic-ai[vertexai]
python-dotenv

openpyxl
pyarrow